{# output: ~/.config/waybar/style.css #}
* {
  color: #eceff4;
  border: 0;
  border-radius: 0;
  padding: 0 0;
  font-family:Symbols Nerd Font Mono;
  font-size: 12px;
  margin-right: 4px;
  margin-left: 4px;
  padding-bottom:2px;
}

window#waybar {
  background: rgba({{ primary[0] }}5A);
  border-radius: 0px 0px 12px 12px;
}


#workspaces button {
  padding: 2px 0px;
  border-bottom: 2px;
  color: rgb({{ accent[0][8] }});
  border-color: rgb({{ accent[0][2] }});
  border-style: solid;
  margin-top:2px;
}

#workspaces button.active {
  border-color: rgb({{ accent[1][6] }});
}


#clock {
  color: rgb({{ accent[1][8] }});
}


#battery, #cpu, #memory, #idle_inhibitor, #backlight, #pulseaudio, #tray, #custom-power, #custom-updates, #custom-network_traffic {
  padding: 0 3px;
  border-bottom: 2px;
  border-style: solid;
  color: rgb({{ accent[0][8] }});
}

#battery.charging {
  color: #5ec055;
}

@keyframes blink {
  to {
    color: rgb({{ accent[0][8] }});
  }
}
#battery.critical:not(.charging) {
  color: #fb1320;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#pulseaudio.muted {
    color: rgb({{ accent[0][0] }});
}
