{# output: ~/.config/waybar/style.css #}
* {
  border: 0;
  border-radius: 0;
  padding: 0 0;
  font-family: CaskaydiaCove Nerd Font;
  font-size: 12px;
  margin-right: 4px;
  margin-left: 4px;
}


window#waybar {
  background: linear-gradient(90deg, {{ primary_rgba[0] | replace(from='\1', to='0.65') }},{{ primary_rgba[1] | replace(from='\1', to='0.85') }},{{ primary_rgba[0] | replace(from='\1', to='0.65') }});
  border-radius: 0px 0px 12px 12px;
}


#workspaces button {
  color: #{{ accents[0][4] }};
}

#workspaces button.active {
  color: #{{ accents[2][8] }};
}


#clock {
  color: #{{ accents[1][8] }};
}


#battery, #cpu, #memory, #idle-inhibitor, #backlight, #pulseaudio, #tray, #custom-power, #custom-updates, #custom-network-traffic {
  padding: 0 3px;
  color: #{{ accents[0][8] }};
}


#battery.charging {
  color: green;
}

@keyframes blink {
  to {
    color: lime;
  }
}
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#pulseaudio.sink.muted {
  color: #{{ accents[0][4] }};
}

#pulseaudio.source.source-muted {
  color: #{{ accents[0][4] }};
}


#custom-updates:not(.updated) {
  color: orange;
}
